Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
# A database is a collection of data that is organized and stored in a way that allows for efficient retrieval and manipulation of that data.
# SQL databases, also known as relational databases, are based on the Structured Query Language (SQL) and use a tabular format to store data. 
# NoSQL databases, on the other hand, are not based on SQL and do not use a tabular format to store data. Instead, NoSQL databases use a variety of data models, such as document-oriented, key-value, and graph databases, to store data.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
# DDL stands for Data Definition Language, which is a subset of SQL used to create and modify the structure of a database.

In [ ]:
CREATE TABLE employee (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    salary DECIMAL(10,2)
);

In [ ]:
DROP TABLE employee ;

In [ ]:
ALTER TABLE employee ADD COLUMN department VARCHAR(50);

In [ ]:
TRUNCATE TABLE employee

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
# DML stands for Data Manipulation Language, which is a subset of SQL used to manipulate data within a database.

In [ ]:
INSERT INTO employee (id, name, salary) VALUES (101, 'ALOK', 50000);

In [ ]:
UPDATE employee SET salary = 150000 WHERE id = 101;

In [ ]:
DELETE FROM employee WHERE id = 101;

Q4. What is DQL? Explain SELECT with an example.

In [ ]:
# DQL stands for Data Query Language, which is a subset of SQL used to retrieve data from a database.

In [ ]:
SELECT name, salary FROM employee WHERE salary > 50000;

Q5. Explain Primary Key and Foreign Key.

In [ ]:
# a primary key is a column or set of columns in a table that uniquely identifies each row in that table. 
# A foreign key, on the other hand, is a column or set of columns in one table that refers to the primary key of another table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# Connect to MySQL database
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# Create a cursor object
mycursor = mydb.cursor()

# Execute a SELECT query
mycursor.execute("SELECT * FROM customers")

# Fetch all rows of the query result
result = mycursor.fetchall()

# Print each row
for row in result:
  print(row)

Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
FROM
WHERE
GROUP BY
HAVING 
SELECT
ORDER BY
LIMIT