Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.

[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [1]:
tuple_list = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
sorted_tuple = sorted(tuple_list, key = lambda x :x[1])
sorted_tuple

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
numbers_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Use lambda function to define the square function
square = lambda x: x**2

# Use map function to apply the square function to all the numbers in the list
squares_list = list(map(square, numbers_list))

# Print the list of squares
print(squares_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions

Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [6]:
numbers_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
convert_to_string = lambda x: str(x)
strings_list = list(map(convert_to_string, numbers_list))
strings_tuple = tuple(strings_list)
print(strings_tuple)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [7]:
from functools import reduce
numbers_list = list(range(1, 26))
product = reduce(lambda x, y: x * y, numbers_list)
print(product)

15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.

[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [8]:
numbers_list = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
filtered_list = list(filter(lambda x: x % 2 == 0 and x % 3 == 0, numbers_list))
print(filtered_list)

[6, 60, 90, 120]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.

['python', 'php', 'aba', 'radar', 'level']

In [9]:
strings_list = ['python', 'php', 'aba', 'radar', 'level']
palindromes_list = list(filter(lambda x: x == x[::-1], strings_list))
print(palindromes_list)

['php', 'aba', 'radar', 'level']