In [5]:
marks = int(input('enter the percentage: '))
if marks > 90:
  print('Grade A')
elif marks > 80 and marks <=90:
  print('Grade B')
elif marks >= 60 and marks <=80:
  print('Grade C')
else:
  print('Grade D')

enter the percentage: 56
Grade D

In [9]:
cost_price = int(input('Enter the cost price: '))

if cost_price > 100000:
  print('Road Tax 15%')
elif cost_price >50000 and cost_price <= 100000:
  print('Road Tax 10%')
else:
  print('Road Tax 5%')

Enter the cost price: 42000
Road Tax 5%

In [11]:
city = input('Enter city name: ')

if city == 'Delhi':
  print('Red Fort')
elif city == 'Agra':
  print('Taj Mahal')
elif city == 'Jaipur':
  print('Jal Mahal')

Enter city name: Agra
Taj Mahal

4. Check how many times a given number can be divided by 3 before it is less than or equal to 10

In [21]:
num = int(input('Enter a No.'))

counter = 0
while num > 10:
  num = num / 3
  counter += 1
print(counter)

Enter a No.60
2

5. Why and When to Use while Loop in Python give a detailed description with example

In [ ]:
# It is used when you want to repeat a set of statements while a specific condition is met.

6. Use nested while loop to print 3 different pattern.

In [28]:
# define the size of the triangle
size = 5

# initialize the row and column counters
row = 1
col = 1

# loop through each row
while row <= size:
  # print each column for the current row
  while col <= row:
    print("*", end="")
    col += 1
  print()  # move to the next line
  row += 1
  col = 1  # reset the column counter

*
**
***
****
*****

In [29]:
# define the size of the triangle
size = 5

# initialize the row and column counters
row = 1
col = 1

# loop through each row
while row <= size:
  # print each column for the current row
  while col <= size:
    print("*", end="")
    col += 1
  print()  # move to the next line
  row += 1
  col = 1  # reset the column counter

*****
*****
*****
*****
*****

In [32]:
# define the size of the diamond
size = 5

# initialize the row and column counters
row = 1
col = 1

# loop through each row
while row <= size:
    # print spaces for the upper half of the diamond
    while col <= size - row:
        print(" ", end="")
        col += 1
    # print asterisks for the upper half of the diamond
    while col <= size:
        print("*", end="")
        col += 1
    print()  # move to the next line
    row += 1
    col = 1  # reset the column counter

# loop through each row for the lower half of the diamond
row = 1
while row <= size - 1:
    # print spaces for the lower half of the diamond
    col = 1
    while col <= row:
        print(" ", end="")
        col += 1
    # print asterisks for the lower half of the diamond
    col = 1
    while col <= size - row:
        print("*", end="")
        col += 1
    print()  # move to the next line
    row += 1

    *
   **
  ***
 ****
*****
 ****
  ***
   **
    *

7. Reverse a while loop to display numbers from 10 to 1.

In [33]:
num = 10
while num >= 1:
  print(num)
  num -= 1

10
9
8
7
6
5
4
3
2
1

8. Reverse a while loop to display numbers from 10 to 1

In [34]:
num = 10
while num >=1:
  print(num)
  num -= 1

10
9
8
7
6
5
4
3
2
1