In [6]:
import re

def validate_password(password):
    # Check if the password length is 10 characters
    if len(password) != 10:
        return False
    
    # Check if the password contains at least two uppercase letters and at least two lowercase letters
    if not re.search(r'[A-Z].*[A-Z]', password) or not re.search(r'[a-z].*[a-z]', password):
        return False
    
    # Check if the password contains at least a number and three special characters
    if not re.search(r'\d', password) or not re.search(r'[^A-Za-z0-9].*[^A-Za-z0-9].*[^A-Za-z0-9].*', password):
        return False
    
    # If all rules are satisfied, return True
    return True

In [7]:
validate_password('aaalllsw@A')

False

In [12]:
words = ["apple", "banana", "cherry", "date"]
start_with_c = list(filter(lambda word: word.startswith('c'), words))
print(start_with_c)
# Output: ['cherry']

['cherry']

In [13]:
words = ["apple", "banana", "cherry", "date"]
start_with_c = [word for word in words if word.startswith('c')]
print(start_with_c)
# Output: ['cherry'

['cherry']

In [14]:
strings = ["123", "abc", "5.6"]
numeric_strings = list(filter(lambda s: s.isnumeric(), strings))
print(numeric_strings)
# Output: ['123']

['123']

In [15]:
strings = ["123", "abc", "5.6"]
numeric_strings = [s for s in strings if s.isnumeric()]
print(numeric_strings)
# Output: ['123']

['123']

In [16]:
fruits = [("mango", 99), ("orange", 80), ("grapes", 1000)]
sorted_fruits = sorted(fruits, key=lambda x: x[1])
print(sorted_fruits)
# Output: [('orange', 80), ('mango', 99), ('grapes', 1000)]

[('orange', 80), ('mango', 99), ('grapes', 1000)]

In [17]:
numbers = range(1, 11)
squares = list(map(lambda x: x**2, numbers))
print(squares)
# Output: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [18]:
numbers = range(1, 11)
squares = [x**2 for x in numbers]
print(squares)
# Output: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [19]:
import math

numbers = range(1, 11)
cube_roots = list(map(lambda x: math.pow(x, 1/3), numbers))
print(cube_roots)
# Output: [1.0, 1.2599210498948732, 1.4422495703074083, 1.5874010519681994, 1.7099759466766968, 1.8171205928321397, 1.912931182772389, 2.0, 2.080083823051904, 2.154434690031884]

[1.0, 1.2599210498948732, 1.4422495703074083, 1.5874010519681994, 1.7099759466766968, 1.8171205928321397, 1.912931182772389, 2.0, 2.080083823051904, 2.154434690031884]

In [20]:
import math

numbers = range(1, 11)
cube_roots = [math.pow(x, 1/3) for x in numbers]
print(cube_roots)

[1.0, 1.2599210498948732, 1.4422495703074083, 1.5874010519681994, 1.7099759466766968, 1.8171205928321397, 1.912931182772389, 2.0, 2.080083823051904, 2.154434690031884]